<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Failed suite [Default Suite]">
  <test name="kbcsharedservices(failed)">
    <classes>
      <class name="KBCSharedServices.TestSuite">
        <methods>
          <include name="ClickCareerTileByOrder"/>
          <include name="InitTest"/>
          <include name="CleanUp"/>
          <include name="ClickCareerTileByName"/>
        </methods>
      </class> <!-- KBCSharedServices.TestSuite -->
    </classes>
  </test> <!-- kbcsharedservices(failed) -->
</suite> <!-- Failed suite [Default Suite] -->
